@import url(../base/_reset.css);
@import url(../base/_variaveis.css);

body {
    font-family: 'Lexend Deca', sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--branco-200);

}

main{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/