header {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, #574AE8 , #3EA1DB);
}

.cabecalho {
    color: var(--branco);
    margin: auto;
    width: 58%;         /*alterar depois*/
    font-size: 24px;
    font-weight: 400;
   
}

.cabecalho-menu {
    display: flex;
    justify-content: space-between;
}

.cabecalho-item {
    justify-self: center;
    margin-top: 41px;

    margin-bottom: 2em;
}

.cabecalho-search-caixa {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    height: 65px;
    
}

.cabecalho-search-texto {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 65px;
    background: none;
    border: none;
    align-items: center;    

}

.cabecalho-search-botao {
    background-image: url(../../img/lupa.svg);
}
